version: '3'

services:
  ods-rundeck-server:
    image: opendatastack/rundeck
    depends_on:
      - ods-rundeck-mysql
    environment:
      RUNDECK_DATABASE_ENGINE: mysql
      RUNDECK_INITIAL_ADMIN_PASSWORD: apslrocks
      # RUNDECK_SERVER_URL: http://rundeck.yourdomain.com
      RUNDECK_MYSQL_HOST: mysql
      RUNDECK_MYSQL_DATABASE: rundeckdb
      RUNDECK_MYSQL_USER: urundeck
      RUNDECK_MYSQL_PASSWORD: rundeckpass
      RUNDECK_MAIL_HOST: smtp.yourmailserver.net
      RUNDECK_MAIL_USERNAME: username
      RUNDECK_MAIL_PORT: 587
      RUNDECK_MAIL_PASSWORD: password
      RUNDECK_MAIL_STARTTLS: "true"
      RUNDECK_MAIL_SMTP_AUTH: "true"
      RUNDECK_MAIL_DEFAULT_FROM: noreply@yourdomain.com
      RUNDECK_DEFAULT_PROJECT: "ODS"
    volumes:
      - ./volumes/data:/data
    links:
      - "ods-rundeck-mysql:mysql"
    ports:
      - "0.0.0.0:4440:4440"

  ods-rundeck-mysql:
    image: mysql:5.7.11
    environment:
      MYSQL_DATABASE: rundeckdb
      MYSQL_USER: urundeck
      MYSQL_PASSWORD: rundeckpass
      MYSQL_ROOT_PASSWORD: ashoNg0aloqu2oh
